<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--
   <bean id = "h2" class = "hello_spring.HelloSpring" init-method="myInit" destroy-method="myDestroy">
      <property name = "name" value = "Joey"/>
      <property name = "val" value = "102"/>
      <constructor-arg ref="l2"/>
   </bean>
   
   <bean id = "l2" class = "hello_spring.LastName">
      <property name = "lastName" value = "Tribiaani"/>
   </bean>
   
   <bean id = "h3" class = "hello_spring.HelloSpring">
      <property name = "name" value = "Chandler"/>
      <property name = "val" value = "103"/>
      <constructor-arg ref="l3"/>
   </bean>
   
   <bean id = "l3" class = "hello_spring.LastName">
      <property name = "lastName" value = "Bing"/>
   </bean>
-->

   <bean id = "l4" class = "hello_spring.LastName">
      <property name = "lname" value = "Geller"/>
   </bean>
   
   <bean id = "h4" class = "hello_spring.HelloSpring">
      <property name = "name" value = "Monica"/>
      <property name = "val" value = "104"/>
      <!--<constructor-arg ref="l4"/>-->
      <property name="lname" ref="l4"/>
   </bean>

</beans>